<?xml version="1.0"?>
<configuration>
    <system.net>
        <settings>
            <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
        </settings>
    </system.net>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" >
        </compilation>
    </system.web>
    <appSettings>
        <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    </appSettings>
    <system.serviceModel>

        <extensions>
            <!--<behaviorExtensions>
                <add name="enhancedWebHttp" type="Jakeda.BuiltSpace.Platform.ISAPI.EnhancedWebHttpElement, Jakeda.BuiltSpace.Platform.ISAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>-->
        </extensions>
        
        
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" >
        </serviceHostingEnvironment>
        <services>
            <service behaviorConfiguration="WCF.ISAPI.ServiceBehavior"	name="Jakeda.BuiltSpace.Platform.ISAPI.BuildingData">
                <endpoint address="https://dev-2.jakeda.int/BuildingData.svc" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="Jakeda.BuiltSpace.Platform.ISAPI.IBuildingData" behaviorConfiguration="webBehavior">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <!-- <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="Jakeda.BuiltSpace.Platform.ISAPI.IBuildingData"/> -->
                <host>
                    <baseAddresses>
                        <add baseAddress="https://dev-2.jakeda.int/"></add>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <webHttpBinding>
                <binding name="secureHttpBinding" >
                    <security mode="Transport">
                        <transport clientCredentialType="None"/>
                    </security>
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WCF.ISAPI.ServiceBehavior">
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true"  />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
                <!--<behavior name="MyBehavior">
                    <enhancedWebHttp defaultOutgoingRequestFormat="JSON" defaultOutgoingResponseFormat="JSON" />
                </behavior>-->
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="webBehavior">
                    <!--<enableWebScript  />-->
                    <webHttp/>
                </behavior>
                <!-- <behavior name="jsonBehavior">
				
				</behavior> -->
                
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
        </modules>
    </system.webServer>
</configuration>